 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  TableString
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="TableStringEditForm">    
  <input type="text" ng-hide="true" name="Id" ng-model="Update.Id"/>
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">字段名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='FieldName' class="form-control" ng-model="Update.FieldName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">字段显示名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='FieldShowMing' class="form-control" ng-model="Update.FieldShowMing">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">输入类型</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="InputType" ng-model="Update.InputType" />
                    <select  class="form-control m-b"  ng-options="item.YSName as item.YSName for  item in InputTypeData" ng-model="Update.InputType">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">表单验证</label>
                      <div class="col-sm-10">
                        <input type="text" name='AddWhere' class="form-control" ng-model="Update.AddWhere">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">是否链接其他表</label>
                      <div class="col-sm-10">
                        <input type="text" name='IsOtherTable' class="form-control" ng-model="Update.IsOtherTable">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">其他表名</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="OtherTableName" ng-model="Update.OtherTableName" />
                    <select  class="form-control m-b"  ng-options="item.name as item.name for  item in OtherTableNameData" ng-model="Update.OtherTableName">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表字段 展示用</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableFieldZS' class="form-control" ng-model="Update.OtherTableFieldZS">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表字段 保存用</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableFieldBC' class="form-control" ng-model="Update.OtherTableFieldBC">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">表名</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="TableName" ng-model="Update.TableName" />
                    <select  class="form-control m-b"  ng-options="item.name as item.name for  item in TableNameData" ng-model="Update.TableName">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">其他表查询条件</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableWhere' class="form-control" ng-model="Update.OtherTableWhere">
                   
                      </div>
                    </div>


  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>
 
</section>

<script>
$('#TableStringEditForm').validate({rules: {FieldName:{ 
required:true ,
},
FieldShowMing:{ 
required:true ,
},
IsOtherTable:{ 
required:true,
},
OtherTableName:{ 
required:true,
},
TableName:{ 
required:true,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 //app.module("GHPAPP", [])
 //    .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
 //        var httpInterceptor = {
 //            'responseError': function (response){
 //                $scope.loading = false;
 //                return $q.reject(response);
 //            },
 //            'response': function (response) {
 //                $scope.loading = false;
 //                return response;
 //            },
 //            'request': function (config) {
 //                $scope.loading = true;
 //                return config;
 //            },
 //            'requestError': function (config) {
 //                $scope.loading = false;
 //                return $q.reject(config);
 //            }
 //        }
 //        return httpInterceptor;
 //    }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 
$scope.GetSelectInputType = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "EditPage", Where: "", FildName: "YSName,YSName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.InputTypeData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectInputType();

 
$scope.GetSelectOtherTableName = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "sysobjects", Where: "xtype='u'", FildName: "name,name" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.OtherTableNameData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectOtherTableName();

 
$scope.GetSelectTableName = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "sysobjects", Where: "xtype='u'", FildName: "name,name" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.TableNameData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectTableName();

 
	    var Id="";
	 if($location.url()!=""){
	 Id=$location.url().split('#')[1].split("=")[1];
	 }
 
        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							       $scope.InputType = $scope.Update.InputType;       $scope.OtherTableName = $scope.Update.OtherTableName;       $scope.TableName = $scope.Update.TableName;
                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }

    })
</script>
 