 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  列表显示配置
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="ListPageEditForm">    
  <input type="text" ng-hide="true" name="Id" ng-model="Update.Id"/>
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">表明</label>
                      <div class="col-sm-10">
                        <input type="text" name='TableName' class="form-control" ng-model="Update.TableName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">字段名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='ColnumName' class="form-control" ng-model="Update.ColnumName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">是否进行数据处理</label>
                      <div class="col-sm-10">
                        <input type="text" name='IsReplaceOriginal' class="form-control" ng-model="Update.IsReplaceOriginal">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">处理参数</label>
                      <div class="col-sm-10">
                        <input type="text" name='ReplaceParameter' class="form-control" ng-model="Update.ReplaceParameter">
                   
                      </div>
                    </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否外接数据</label>
                <div class="col-sm-10">

                    <select name="IsWaiJieData" class="form-control" ng-model="Update.IsWaiJieData">
                        <option value="true">是</option><option value="false">否</option>
                    </select>
                </div>
            </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">其他表名</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="OtherTableName" ng-model="Update.OtherTableName" />
                    <select  class="form-control m-b"  ng-options="item.TableName as item.TableName for  item in OtherTableNameData" ng-model="Update.OtherTableName">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">展示字段</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableFieldZS' class="form-control" ng-model="Update.OtherTableFieldZS">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">条件</label>
                      <div class="col-sm-10">
                        <input type="text" name='OtherTableWhere' class="form-control" ng-model="Update.OtherTableWhere">
                   
                      </div>
                    </div>


  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>
 
</section>

<script>
$('#ListPageEditForm').validate({rules: {TableName:{ 
required:true,
},
ColnumName:{ 
required:true,
},
IsReplaceOriginal:{ 
required:true,
},
IsWaiJieData:{ 
required:true,
},
OtherTableName:{ 
required:true,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 //app.module("GHPAPP", [])
 //    .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
 //        var httpInterceptor = {
 //            'responseError': function (response){
 //                $scope.loading = false;
 //                return $q.reject(response);
 //            },
 //            'response': function (response) {
 //                $scope.loading = false;
 //                return response;
 //            },
 //            'request': function (config) {
 //                $scope.loading = true;
 //                return config;
 //            },
 //            'requestError': function (config) {
 //                $scope.loading = false;
 //                return $q.reject(config);
 //            }
 //        }
 //        return httpInterceptor;
 //    }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 
$scope.GetSelectOtherTableName = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "AllTableInfo", Where: "", FildName: "TableName,TableName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.OtherTableNameData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectOtherTableName();

   
 

	    var Id="";
	 if($location.url()!=""){
	 Id=$location.url().split('#')[1].split("=")[1];
	 }
 
        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							       $scope.OtherTableName = $scope.Update.OtherTableName;

$scope.Default___Json1060=JSON.parse($scope.Update.IsWaiJieData)
                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }




    })
</script>
 