
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <link href="~/Template/css/loading.css" rel="stylesheet" />
</head>
<body ng-app="GHPAPP" ng-controller="GHPCtrl">
    <div>
        <div class="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>


    </div>
</body>
</html>
<script src="~/Scripts/angular.js"></script>
<script>



</script>