 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  TableString字段关联配置表
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="DefaultTableEditForm">    
  <input type="text" ng-hide="true" name="Id" ng-model="Update.Id"/>
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">值</label>
                      <div class="col-sm-10">
                        <input type="text" name='Value' class="form-control" ng-model="Update.Value">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">对应值</label>
                      <div class="col-sm-10">
                        <input type="text" name='CorrespondingValue' class="form-control" ng-model="Update.CorrespondingValue">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">对应表名</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="CorrespondingTableName" ng-model="Update.CorrespondingTableName" />
                    <select  class="form-control m-b"  ng-options="item.TableName as item.TableName for  item in CorrespondingTableNameData" ng-model="Update.CorrespondingTableName">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">对应字段名</label>
                      <div class="col-sm-10">
                        <input type="text" name='CorrespondingField' class="form-control" ng-model="Update.CorrespondingField">
                   
                      </div>
                    </div>


  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>
 
</section>

<script>
$('#DefaultTableEditForm').validate({rules: {Value:{ 
required:true,
},
CorrespondingValue:{ 
required:true,
},
CorrespondingTableName:{ 
required:true,
},
CorrespondingField:{ 
required:true,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 //app.module("GHPAPP", [])
 //    .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
 //        var httpInterceptor = {
 //            'responseError': function (response){
 //                $scope.loading = false;
 //                return $q.reject(response);
 //            },
 //            'response': function (response) {
 //                $scope.loading = false;
 //                return response;
 //            },
 //            'request': function (config) {
 //                $scope.loading = true;
 //                return config;
 //            },
 //            'requestError': function (config) {
 //                $scope.loading = false;
 //                return $q.reject(config);
 //            }
 //        }
 //        return httpInterceptor;
 //    }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 
$scope.GetSelectCorrespondingTableName = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "AllTableInfo", Where: "", FildName: "TableName,TableName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.CorrespondingTableNameData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectCorrespondingTableName();

   
 

	    var Id="";
	 if($location.url()!=""){
	 Id=$location.url().split('#')[1].split("=")[1];
	 }
 
        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							       $scope.CorrespondingTableName = $scope.Update.CorrespondingTableName;


                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }




    })
</script>
 