
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Template/css")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap-ghptable.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/angular.js"></script>

    <link href="~/Template/css/loading.css" rel="stylesheet" />


</head>
<body>
    <div>
        @RenderBody()
    </div>


 
 
</body>
</html>
 
