
@{
    Layout = null;
}


<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <link href="~/Template/css/bootstrap.css" rel="stylesheet" />

    <link href="~/Template/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Template/css/simple-line-icons.css" rel="stylesheet" />

    <link href="~/Template/css/font.css" rel="stylesheet" />

    <link href="~/Template/css/app.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap-ghptable.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/angular.js"></script>

    <link href="~/Template/css/loading.css" rel="stylesheet" />

</head>

<body>

    <div>

        @RenderBody()

    </div>

</body>

</html>
 
