 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  Users
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="UsersEditForm">    
  <input type="text" ng-hide="true" name="Id" ng-model="Update.Id"/>
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">登录名</label>
                      <div class="col-sm-10">
                        <input type="text" name='LoginName' class="form-control" ng-model="Update.LoginName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">密码</label>
                      <div class="col-sm-10">
                        <input type="text" name='Password' class="form-control" ng-model="Update.Password">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">真实姓名</label>
                      <div class="col-sm-10">
                        <input type="text" name='RealName' class="form-control" ng-model="Update.RealName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">手机</label>
                      <div class="col-sm-10">
                        <input type="text" name='Phone' class="form-control" ng-model="Update.Phone">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">邮箱</label>
                      <div class="col-sm-10">
                        <input type="text" name='Email' class="form-control" ng-model="Update.Email">
                   
                      </div>
                    </div>

<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">年龄</label>
                      <div class="col-sm-10">
                        <input type="number" name='Age' class="form-control" ng-model="Update.Age">
                   
                      </div>
                    </div><div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>
                      <div class="col-sm-10">
                        <input type="text" name='Gender' class="form-control" ng-model="Update.Gender">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">省份</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="ShengFen" ng-model="Update.ShengFen" />
                    <select  class="form-control m-b"  ng-options="item.ProductID as item.ProductName for  item in ShengFenData" ng-model="Update.ShengFen">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">城市</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="ChengShi" ng-model="Update.ChengShi" />
                    <select  class="form-control m-b"  ng-options="item.cityID as item.cityName for  item in ChengShiData" ng-model="Update.ChengShi">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">县区</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="XianQu" ng-model="Update.XianQu" />
                    <select  class="form-control m-b"  ng-options="item.areaID as item.areaName for  item in XianQuData" ng-model="Update.XianQu">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">详细</label>
                      <div class="col-sm-10">
                        <input type="text" name='XiangXi' class="form-control" ng-model="Update.XiangXi">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">昵称</label>
                      <div class="col-sm-10">
                        <input type="text" name='NiCheng' class="form-control" ng-model="Update.NiCheng">
                   
                      </div>
                    </div>


  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>
 
</section>

<script>
$('#UsersEditForm').validate({rules: {LoginName:{ 
required:true,
},
Password:{ 
required:true,
},
RealName:{ 
required:true,
},
Phone:{ 
required:true,
},
Email:{ 
required:true,
},
Age:{ 
required:true,
},
Gender:{ 
required:true,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 //app.module("GHPAPP", [])
 //    .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
 //        var httpInterceptor = {
 //            'responseError': function (response){
 //                $scope.loading = false;
 //                return $q.reject(response);
 //            },
 //            'response': function (response) {
 //                $scope.loading = false;
 //                return response;
 //            },
 //            'request': function (config) {
 //                $scope.loading = true;
 //                return config;
 //            },
 //            'requestError': function (config) {
 //                $scope.loading = false;
 //                return $q.reject(config);
 //            }
 //        }
 //        return httpInterceptor;
 //    }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 
$scope.GetSelectShengFen = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "province", Where: "", FildName: "ProductID,ProductName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.ShengFenData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectShengFen();

 
$scope.GetSelectChengShi = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "city", Where: "", FildName: "cityID,cityName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.ChengShiData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectChengShi();

 
$scope.GetSelectXianQu = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "Areas", Where: "", FildName: "areaID,areaName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.XianQuData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectXianQu();

 
	    var Id="";
	 if($location.url()!=""){
	 Id=$location.url().split('#')[1].split("=")[1];
	 }
 
        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							       $scope.ShengFen = $scope.Update.ShengFen;       $scope.ChengShi = $scope.Update.ChengShi;       $scope.XianQu = $scope.Update.XianQu;
                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }

    })
</script>
 