 
  @{
 Layout = "~/Views/Shared/_Layout_Body.cshtml";
 }




@Scripts.Render("~/bundles/Validata")

<section class="panel panel-default" ng-app="GHPAPP" ng-controller="GHPCtrl">
 
  <header class="panel-heading font-bold">
                  Menu
                </header>

<div class="panel-body">
 
  <form class="form-horizontal" method="POST" action="Save" id="MenuEditForm">    
  <input type="text" ng-hide="true" name="Id" ng-model="Update.Id"/>
  <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">菜单名称</label>
                      <div class="col-sm-10">
                        <input type="text" name='MenuName' class="form-control" ng-model="Update.MenuName">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">等级</label>
                      <div class="col-sm-10">
                        <input type="text" name='Level' class="form-control" ng-model="Update.Level">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">上级ID</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="ParentID" ng-model="Update.ParentID" />
                    <select  class="form-control m-b"  ng-options="item.Id as item.MenuName for  item in ParentIDData" ng-model="Update.ParentID">
                      </select>
                </div>
            </div>
 <div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">地址</label>
                      <div class="col-sm-10">
                        <input type="text" name='Url' class="form-control" ng-model="Update.Url">
                   
                      </div>
                    </div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">类型</label>
                      <div class="col-sm-10">
                        <input type="text" name='Type' class="form-control" ng-model="Update.Type">
                   
                      </div>
                    </div>

<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
                      <label class="col-sm-2 control-label">排序</label>
                      <div class="col-sm-10">
                        <input type="number" name='Order' class="form-control" ng-model="Update.Order">
                   
                      </div>
                    </div><div class="line line-dashed b-b line-lg pull-in"></div>   
 <div class="form-group">
                <label class="col-sm-2 control-label">表名</label>
                <div class="col-sm-10">
              <input type="text" ng-hide="true"  name="MenuTableName" ng-model="Update.MenuTableName" />
                    <select  class="form-control m-b"  ng-options="item.TableName as item.TableName for  item in MenuTableNameData" ng-model="Update.MenuTableName">
                      </select>
                </div>
            </div>
 

  <div class="text-center">
  <button class="btn btn-s-md btn-default" type="submit">保存</button>
    <button class="btn btn-s-md btn-default" type="button" onclick="location='List'">取消</button>
  </div>

</form>
</div>
 
</section>

<script>
$('#MenuEditForm').validate({rules: {MenuName:{ 
required:true ,
},
Level:{ 
required:true ,
},
Url:{ 
required:true ,
},
Type:{ 
required:true ,
},
Order:{ 
required:true ,
},
}   }); 
 
 
 
 
 var app = angular.module("GHPAPP", []);




 //app.module("GHPAPP", [])
 //    .factory('httpInterceptor', ['$q', '$injector', function ($q, $injector) {
 //        var httpInterceptor = {
 //            'responseError': function (response){
 //                $scope.loading = false;
 //                return $q.reject(response);
 //            },
 //            'response': function (response) {
 //                $scope.loading = false;
 //                return response;
 //            },
 //            'request': function (config) {
 //                $scope.loading = true;
 //                return config;
 //            },
 //            'requestError': function (config) {
 //                $scope.loading = false;
 //                return $q.reject(config);
 //            }
 //        }
 //        return httpInterceptor;
 //    }])



    app.controller("GHPCtrl", function ($scope, $location,$http) {
              $scope.loading = false;
	
	 
$scope.GetSelectParentID = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "Menu", Where: "", FildName: "Id,MenuName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.ParentIDData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectParentID();

 
$scope.GetSelectMenuTableName = function () {
            $http({
                method: 'POST',
                url: '/Home/GetSelectData',
                data: { TableName: "AllTableInfo", Where: "", FildName: "TableName,TableName" }
            }).then(function successCallback(response) {

                if (response.data.start == 0) {

                    $scope.MenuTableNameData = response.data.data;
                } else {

                }
            }, function errorCallback(response) {
                console.log(JSON.stringify(response))
            });
        }
 $scope.GetSelectMenuTableName();

   
 

	    var Id="";
	 if($location.url()!=""){
	 Id=$location.url().split('#')[1].split("=")[1];
	 }
 
        $scope.load = function () {
            $http({
                method: 'POST',
                url: 'GetUpdateData',
                data: { Id: Id }
           }).then(function successCallback(response) {
                if (response.data.start == 0) {
                    $scope.Update = response.data.data;
							       $scope.ParentID = $scope.Update.ParentID;
       $scope.MenuTableName = $scope.Update.MenuTableName;


                } else {
                    alert( response.data.msg);
                }
            }, function errorCallback(response){
                // 请求失败执行代码
           });

        }

        if (Id != "") {
            $scope.load();
			
        }




    })
</script>
 